@page
@model MyPhotosManagerWeb.Pages.People.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetailDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleDTO.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeopleDTO.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleDTO.IdPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeopleDTO.IdPhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleDTO.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeopleDTO.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PeopleDTO.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
